@{
    ViewData["Title"] = "Bass Rig Curator";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Bass Rig Curator</h1>
    <p>Bass Rig Curator (BRC) is a tool to help bass player, new to expert, take the guess work out of selecting a new bass/amp combo. By answering a few questions regarding your needs BRC will produce a combo just for you! Click the link below to get started.</p>
    <a asp-controller="home" asp-action="survey" method="post">Get started!</a>
</div>
