<div class="text-center">
    <h1 class="display-4">Answer these questions to get your custom rig</h1>
    <div class="text-lg-left">
        <form>
            <label for="budget">What is your budget?</label>
            <input type="text" name="budget"/><br/>
            <label for="genre">What genre do you like to play?</label>
            <select name="genre">
                <option>Rock</option>
                <option>Jazz</option>
                <option>Metal</option>
                <option>Country</option>
                <option>Funk</option>
            </select><br/>
            <label for="volume">How loud are you able to play?</label>
            <input type="range" min="0" max="100"/><br/>
            <laber for="portability">Does the rig need to be portable?</laber>
            <input type="radio" name="portability" value="Yes"/>Yes
            <input type="radio" name="portability" value="No"/>No
        </form>
    </div>
</div
