@*@using BassRigCurator.Models;
@model List<Bass>;*@

<h1>Results</h1>


    @if(ViewBag.curatedBassList != null)
    {
        <ul>
            @foreach(Bass bass in ViewBag.curatedBassList)
            {
            <li>@bass.Name</li>
            }
        </ul>
    }
    

